<!DOCTYPE HTML>
<html lang="zh-CN">
	<head>
		<title></title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css"/>
		<link rel="stylesheet" type="text/css" href="../static/css/main.css"/>
	</head>
	<body>
		<nav class="navbar navbar-default">
			<div class="container">
				<a class="logo pull-left" href="#">
					<h1>C<span>Generator</span></h1>
				</a>
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse" aria-expanded="false">
				        <span class="sr-only">Toggle navigation</span>
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
				   </button>
				</div>
				<div class="collapse navbar-collapse " id="bs-example-navbar-collapse">
					<ul class="nav navbar-nav navbar-right">
						<li class="navBg"></li>
						<li>
							<a href="index.html">网站首页</a>
						</li>
						<li class="active">
							<a href="about.html">关于我们</a>
						</li>
						<!-- <li>
							<a href="service.html">服务案例</a>
						</li> -->
						<!-- <li>
							<a href="news.html">新闻中心</a>
						</li> -->
						<li>
							<a href="contact.html">联系我们</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
		<!--space-->
		<div class="space"></div>
		<div class="abPg">
			<div class="banner">
				<img src="../static/images/banner/ban1.jpg"/>
			</div>
			<div class="abIntr container padT80 padB80">
				<section class="title padB80">
					<h2>团队介绍</h2>
				</section>
				<div class="row ">
					<div class="col-sm-6 col-xs-12" >
						<img src="../static/images/ab.jpg"/>
					</div>
					<div class="col-sm-6 col-xs-12" >
						<h3>CGenerator</h3>
						<p>
							小组成员：毛艺钧 张起萌 周云舒 关之浩 杨睿麟
							<br>
							<br>
							随着电子商务走进千家万户并日趋成熟，淘宝，京东等
							网购平台在我们的生活中扮演了重要角色。在我们的网
							购经历中，评论商品换取现金返现的机会屡见不鲜。
							然而，很多人却因为不想酝酿评论内容而放弃这些机会。
							基于此，我们选择了这个主题作为我们的项目方向，
							力求快速生成商品评论，方便用户网购生活，解决用户
							商品评论困难的问题。
					
						</p>
					</div>
				</div>
			</div>

			<!-- <div class="container padB80">
				<div class="row padT80">
					<div class="col-sm-4">
						<div class="honty">
							<div>
								<div class="ty"><span>A</span></div>
								<div class="tycon">
									<h3>方案合理、质量可靠</h3>
									<p>REASONABLE SCHEME </p>
								</div>
							</div>
							<p>
								以上百家成功案例经验，量身定制最合理的开发方案；
								遵照全球公认的ISO质量体系，精细打磨产品每一个细
								节； 经过我们的努力，给用户带来即舒适又美观的体
								验，同时又能章显其商业价值~
							</p>
						</div>
					</div>	
					<div class="col-sm-4">
						<div class="honty">
							<div>
								<div class="ty"><span>B</span></div>
								<div class="tycon">
									<h3>互相沟通、面面俱到</h3>
									<p>REASONABLE SCHEME </p>
								</div>
							</div>
							<p>
								以上百家成功案例经验，量身定制最合理的开发方案；
								遵照全球公认的ISO质量体系，精细打磨产品每一个细
								节； 经过我们的努力，给用户带来即舒适又美观的体
								验，同时又能章显其商业价值~
							</p>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="honty">
							<div>
								<div class="ty"><span>C</span></div>
								<div class="tycon">
									<h3>交付准时、服务贴心</h3>
									<p>DELIVERY ON TIME</p>
								</div>
							</div>
							<p>
								以上百家成功案例经验，量身定制最合理的开发方案；
								遵照全球公认的ISO质量体系，精细打磨产品每一个细
								节； 经过我们的努力，给用户带来即舒适又美观的体
								验，同时又能章显其商业价值~
							</p>
						</div>
					</div>
				</div>
			</div> -->
		</div>
		<footer>
			<nav>
				<ul>
					<li><a href="index.html">网站首页</a></li>
					<li><a href="about.html">关于我们</a></li>
					<!-- <li><a href="service.html">评论生成</a></li> -->
					<!-- <li><a href="news.html">新闻中心</a></li> -->
					<li><a href="contact.html">联系我们</a></li>
				</ul>
			</nav>
			<p>
				<span class="glyphicon glyphicon-phone-alt"></span>029-12345678
				<span class="glyphicon glyphicon-earphone"></span>86-13772500869
				<span class="glyphicon glyphicon-envelope"></span>yunshuzhou6@123.com
			</p>
		</footer>
		<script src="../static/js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../static/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../static/js/main.js" type="text/javascript" charset="utf-8"></script>
	</body>
</html>
