<!DOCTYPE HTML>
<html lang="zh-CN">
	<head>
		<title></title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css"/>
		<link rel="stylesheet" type="text/css" href="../static/css/main.css"/>
	</head>
	<body>
		<nav class="navbar navbar-default">
			<div class="container">
				<a class="logo pull-left" href="#">
					<h1>C<span>Generator</span></h1>
				</a>
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse" aria-expanded="false">
				        <span class="sr-only">Toggle navigation</span>
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
				   </button>
				</div>
				<div class="collapse navbar-collapse " id="bs-example-navbar-collapse">
					<ul class="nav navbar-nav navbar-right">
						<li class="navBg"></li>
						<li>
							<a href="index.html">网站首页</a>
						</li>
						<li>
							<a href="about.html">关于我们</a>
						</li>
						<!-- <li>
							<a href="news.html">新闻中心</a>
						</li> -->
						<li class="active">
							<a href="contact.html">联系我们</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
		<!--space-->
		<div class="space"></div>
		<div class="conPg">
			<div class="banner">
				<img src="../static/images/banner/ban2.jpg"/>
			</div>
			<div class="container padT80">
				<!-- <div class="map">
					<iframe src="../static/map/map.html"></iframe>
					<div class="loader">
						<img src="../static/images/loader.gif"/>
					</div>
				</div> -->
				<div class="address row padT80 padB80">
					<div class="col-sm-6 col-xs-12">
						<section class="title">
							<h2>联系我们</h2>
						</section>
						<ul class="padT80">
							<li><span class="glyphicon glyphicon-phone-alt"></span>全国服务热线：029-123455678</li>
							<li><span class="glyphicon glyphicon-map-marker"></span>团队地址：西安交通大学创新港四号巨构</li>
							<li><span class="glyphicon glyphicon-envelope"></span>团队邮箱：yunshuzhou6@123.com</li>
							<li><span class="glyphicon glyphicon-phone"></span>联系电话：86-13772500869</li>
						</ul>
					</div>
					<div class="col-sm-6 col-xs-12 padT80">
						<form>
							<input placeholder="姓名" type="name" id="name"/>
							<input placeholder="邮箱" type="email" id="email"/>
							<input placeholder="电话" type="text" id="text"/>
							<textarea placeholder="消息" rows="5"></textarea>
						</form>
						<a class="btn btn-primary">发送</a>
					</div>
					
				</div>
			</div>
		</div>
		<footer>
			<nav>
				<ul>
					<li><a href="index.html">网站首页</a></li>
					<li><a href="about.html">关于我们</a></li>
					<!-- <li><a href="news.html">新闻中心</a></li> -->
					<li><a href="contact.html">联系我们</a></li>
				</ul>
			</nav>
			<p>
				<span class="glyphicon glyphicon-phone-alt"></span>029-12345678
				<span class="glyphicon glyphicon-earphone"></span>86-13772500869
				<span class="glyphicon glyphicon-envelope"></span>yunshuzhou6@123.com
			</p>
		</footer>
		<script src="../static/js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../static/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../static/js/main.js" type="text/javascript" charset="utf-8"></script>
	</body>
</html>
